@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        height: 33%;
    }
    header > p {
        font-size: 2em;
    }
    header > p#Zag{
        font-size: 1.6em;
    }
    menu {
        margin-top: 60px;
        font-size: 1.3em;
    }

    footer {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 35.7%;
    }
    header > p {
        font-size: 2.5em;
    }
    header > p#Zag{
        font-size: 2em;
    }
    menu {
        margin-top: 67px;
        font-weight: bolder;
        font-size: 1.5em;
    }

    div#python{
        margin-left: 3%;
    }
    
    div#python > img {
        height: 350px;
    }
    
    div#login > img {
        height: 350px;
    }

    footer {
        font-size: 1.5em;
    }
}

